In [ ]:
#Answer for Q1

For loop is used for iteratly or repeatedly analyze the data one by one and print the data as a output. 
Example -

In [ ]:
A1 = ["rajib",5,8,9,"pwskills"]

In [8]:
#using for loop :

for item in A1 :
    print(item)

rajib
5
8
9
pwskills

In [ ]:
In case of while loop, it is used when the previous condition is become true. Only then it will execute. If the condition is false, it will not be executed. After executed, it again chekced the next statement and print accordingly.
Example -

In [9]:
#using while loop :

A1 = 1
while A1 <=10 :
    print(A1)
    A1 = A1 + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
A2.

In [1]:
# using for loop

A2 = [1,2,3,4,5,6,7,8,9,10]

In [2]:
result = 0
for i in A2 :
    result = result + i
result

55

In [13]:
A2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
#using while loop

A2 = int(input("enter your limit"))
starting_point = 0
counter = 1
while counter <= A2 :
    starting_point = starting_point + counter
    counter = counter + 1
starting_point

enter your limit 10

55

In [ ]:
A3.

In [10]:
units = int(input("enter the units of electricity consumed"))
total_bill = 0
if units <= 100 :
    total_bill = units * 4.5
elif units <= 200 :
    total_bill = 100 * 4.5 + (units - 100) * 6
elif units <= 300 :
    total_bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
else :
    total_bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20
print ("Total elctricity bill : Rs. ", total_bill)

enter the units of electricity consumed 310

Total elctricity bill : Rs.  2250.0

In [ ]:
A4.

In [1]:
#using for loop :

result = []
for num in range(1, 101) :
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0 :
        result.append(num)
print(result)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [6]:
# using while loop :

result = []
num = 1
while num <= 100 :
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0 :
        result.append(num)
    num = num + 1
print(result)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [ ]:
A5

In [9]:
string = "I want to become a data scientist"
vowels = "aeiouAEIOU"
count = 0
for i in string :
    if i in vowels:
        count = count + 1
print("The number of vowels :", count)

The number of vowels : 12